---
version: "3.8"

services:
  crowdsec:
    image: crowdsecurity/crowdsec:latest
    container_name: crowdsec
    restart: unless-stopped
    environment:
      COLLECTIONS: "crowdsecurity/traefik crowdsecurity/http-cve crowdsecurity/linux"
    volumes:
      - {{ crowdsec_dir }}/config:/etc/crowdsec
      - {{ crowdsec_dir }}/data:/var/lib/crowdsec/data
      - /var/log/traefik:/var/log/traefik:ro
      - /var/log:/var/log:ro
    networks:
      - {{ docker_network_name }}


networks:
  {{ docker_network_name }}:
    external: true
