{{ ansible_managed | comment }}
---
services:
  docker-socket-proxy:
    image: tecnativa/docker-socket-proxy:latest
    container_name: docker-socket-proxy
    restart: unless-stopped
    environment:
      CONTAINERS: 1
      NETWORKS: 1
      SERVICES: 1
      TASKS: 1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - socket-proxy

  traefik:
    image: traefik:{{ traefik_version }}
    container_name: traefik
    restart: unless-stopped
    depends_on:
      - docker-socket-proxy
    environment:
      - DOCKER_API_VERSION=1.41
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - {{ traefik_dir }}/traefik.yml:/etc/traefik/traefik.yml:ro
      - {{ traefik_dir }}/config:/etc/traefik/config:ro
      - {{ traefik_dir }}/acme:/etc/traefik/acme
      - {{ traefik_dir }}/logs:/var/log/traefik
    networks:
      - {{ docker_network_name }}
      - socket-proxy
    labels:
      - "traefik.enable=true"
      # Dashboard
      - "traefik.http.routers.traefik-dashboard.rule=Host(`{{ traefik_dashboard_domain }}`)"
      - "traefik.http.routers.traefik-dashboard.entrypoints=websecure"
      - "traefik.http.routers.traefik-dashboard.tls.certresolver=letsencrypt"
      - "traefik.http.routers.traefik-dashboard.service=api@internal"
      - "traefik.http.routers.traefik-dashboard.middlewares=traefik-auth"
      # BasicAuth
      - "traefik.http.middlewares.traefik-auth.basicauth.users={{ traefik_dashboard_user }}:{{ traefik_dashboard_password }}"

networks:
  {{ docker_network_name }}:
    external: true
  socket-proxy:
    internal: true
